autopep8==2.3.1
certifi==2024.12.14
charset-normalizer==3.4.1
cryptocode==0.1
dnspython==2.7.0
idna==3.10
iniconfig==2.0.0
packaging==24.2
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pycryptodomex==3.21.0
pytest==8.3.4
python-dotenv==1.0.1
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
types-requests==2.32.0.20241016
urllib3==2.3.0
