autopep8==2.3.2
certifi==2026.6.17
charset-normalizer==3.4.9
cryptocode==0.1
dnspython==2.8.0
idna==3.18
iniconfig==2.3.0
packaging==26.2
platformdirs==4.10.1
pluggy==1.6.0
pycodestyle==2.14.0
pycryptodomex==3.23.0
pytest==9.1.1
python-dotenv==1.2.2
PyYAML==6.0.3
RapidFuzz==3.14.5
redis==8.0.1
requests==2.34.2
types-requests==2.33.0.20260712
urllib3==2.7.0
